html{
  background: #0b0a17;
  color: whitesmoke;
}

body{
    margin: 0px;
}


a{
    color: #f1f1f1;
}

h3{
    color: #f1f1f1;
}

.item-score{
    color: #f1f1f1;
}
.item-time{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #f1f1f1;
    margin-right: 20px;

}
.item-url{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

pre{
    background: #0b0a17;
    color: whitesmoke;
    font-family: "Source Code Pro", monospace;
}

.item-component{
    margin: 10px;
    border: 1px solid #f1f1f166;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(255,255,255,0.2);
    transition: 0.3s;
    border-radius: 1em;
}


/* On mouse-over, add a deeper shadow */
.item-component:hover {
    box-shadow: 0 8px 16px 0 rgba(255,255,255,0.2);
}

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: rgba(255,255,255,0.2);
    color: whitesmoke;
}